# Trigger the workflow on push to any branch or on pull request into master
name: live-docs
on:
    push:
    pull_request:
        branches:
            - master
        types: [opened, reopened, synchronize]

jobs:
    prepare_node_modules:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: '13'
            - uses: actions/cache@v1
              with:
                  path: ./node_modules
                  key: ${{github.sha}}-node_modules
            - run: npm ci

    lint-projects:
        runs-on: ubuntu-latest
        name: Linting
        needs: [prepare_node_modules]
        steps:
            - uses: actions/checkout@v2
            - uses: actions/cache@v1
              with:
                  path: ./node_modules
                  key: ${{github.sha}}-node_modules
            - run: |
                  npm run lint


    build-plain-js-live-docs:
        runs-on: ubuntu-latest
        name: Build /plain-js-live-docs
        needs: [lint-projects]
        steps:
            - uses: actions/checkout@v2
            - uses: actions/cache@v1
              with:
                  path: ./node_modules
                  key: ${{github.sha}}-node_modules
            - uses: actions/cache@v1
              with:
                  path: ./dist/plain-js-live-docs
                  key: ${{github.sha}}-plain-js-live-docs
            - run: npm run build:plainjs

    build-ng-live-docs:
      runs-on: ubuntu-latest
      name: Build /ng-live-docs
      needs: [lint-projects, build-plain-js-live-docs]
      steps:
        - uses: actions/checkout@v2
        - uses: actions/cache@v1
          with:
            path: ./node_modules
            key: ${{github.sha}}-node_modules
        - uses: actions/cache@v1
          with:
            path: ./dist/ng-live-docs
            key: ${{github.sha}}-ng-live-docs
        - run: npm run build:ng-live-docs

    build-example-ng-app:
        runs-on: ubuntu-latest
        name: Build /example-ng-app
        needs: [build-ng-live-docs]
        steps:
            - uses: actions/checkout@v2
            - uses: actions/cache@v1
              with:
                  path: ./node_modules
                  key: ${{github.sha}}-node_modules
            - uses: actions/cache@v1
              with:
                  path: ./dist/ng-live-docs
                  key: ${{ github.sha }}-ng-live-docs
            - uses: actions/cache@v1
              with:
                  path: ./dist/examples
                  key: ${{github.sha}}-example-ng-app
            - run: |
                  npm run build-live-docs-doc
                  npm run build-examples-doc
                  npm run build:example-ng-app



    unit-testing:
      runs-on: ubuntu-latest
      name: Unit tests
      needs: [build-ng-live-docs]
      steps:
        - uses: actions/checkout@v2
        - uses: actions/cache@v1
          with:
            path: ./node_modules
            key: ${{github.sha}}-node_modules
        - uses: actions/cache@v1
          with:
            path: ./coverage
            key: coverage
        - name: Run unit-tests
          run: |
            npm run test:ci:ng-live-docs
        - name: Upload coverage to Codecov
          if: success()
          uses: codecov/codecov-action@v1

    gh-pages-deploy:
        runs-on: ubuntu-latest
        name: Deploying to Github pages
        needs: [build-example-ng-app]
        steps:
            - uses: actions/checkout@v2
            - uses: actions/cache@v1
              with:
                  path: ./node_modules
                  key: ${{github.sha}}-node_modules
            - uses: actions/cache@v1
              with:
                  path: ./dist/example-ng-app
                  key: ${{github.sha}}-example-ng-app
            - run: npx ng deploy --no-build
              if: github.event_name == 'push' && github.ref == 'refs/heads/master'
              env:
                  GH_TOKEN: ${{ secrets.GH_TOKEN }}

    publish-plain-js-live-docs-latest:
        needs: [build-plain-js-live-docs]
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: '13'
                  registry-url: https://registry.npmjs.org/
            - uses: actions/cache@v1
              with:
                  path: ./node_modules
                  key: ${{github.sha}}-node_modules
            - uses: actions/cache@v1
              with:
                  path: ./dist/plain-js-live-docs
                  key: ${{github.sha}}-plain-js-live-docs
            - id: check-plain-js-live-docs-tag
              uses: ./.github/actions/check-lib-tag
              with:
                  lib-name: 'plain-js-live-docs'
            - name: Publish plain-js-live-docs@latest
              if: steps.check-plain-js-live-docs-tag.outputs.isLibTag == 'true'
              run: |
                  cd ./dist/plain-js-live-docs
                  npm publish
              env:
                  NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

    publish-plain-js-live-docs-next:
        needs: [build-plain-js-live-docs]
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
              # Fetch depth is given as input because by default, it does a shallow clone (one without any history) for performance reasons.
              # But the check-<lib-name>-package step below uses git diff-tree command to get list of files changed and
              # it requires a base commit sha in addition to the commit sha that triggered this job.
              with:
                  fetch-depth: 2
            - uses: actions/setup-node@v1
              with:
                  node-version: '13'
                  registry-url: https://registry.npmjs.org/
            - uses: actions/cache@v1
              with:
                  path: ./node_modules
                  key: ${{github.sha}}-node_modules
            - uses: actions/cache@v1
              with:
                  path: ./dist/plain-js-live-docs
                  key: ${{github.sha}}-plain-js-live-docs
            - id: check-plain-js-live-docs-tag
              uses: ./.github/actions/check-lib-tag
              with:
                  lib-name: 'plain-js-live-docs'
            - id: check-plain-js-live-docs-package
              uses: ./.github/actions/check-lib-package
              with:
                  lib-name: 'plain-js-live-docs'
            - name: Publish plain-js-live-docs@next
              if: steps.check-plain-js-live-docs-tag.outputs.isLibTag != 'true' && steps.check-plain-js-live-docs-package.outputs.isLibPackageChanged == 'true' && github.event_name == 'push' && github.ref == 'refs/heads/master'
              run: |
                  cd ./dist/plain-js-live-docs
                  npm publish --tag next --access public
              env:
                  NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}


    publish-ng-live-docs-latest:
      needs: [build-ng-live-docs]
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-node@v1
          with:
            node-version: '13'
            registry-url: https://registry.npmjs.org/
        - uses: actions/cache@v1
          with:
            path: ./node_modules
            key: ${{github.sha}}-node_modules
        - uses: actions/cache@v1
          with:
            path: ./dist/ng-live-docs
            key: ${{github.sha}}-ng-live-docs
        - id: check-ng-live-docs-tag
          uses: ./.github/actions/check-lib-tag
          with:
            lib-name: 'ng-live-docs'
        - name: Publish ng-live-docs@latest
          if: steps.check-ng-live-docs-tag.outputs.isLibTag == 'true'
          run: |
            cd ./dist/ng-live-docs
            npm publish
          env:
            NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

    publish-ng-live-docs-next:
      needs: [build-ng-live-docs]
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
          # Fetch depth is given as input because by default, it does a shallow clone (one without any history) for performance reasons.
          # But the check-<lib-name>-package step below uses git diff-tree command to get list of files changed and
          # it requires a base commit sha in addition to the commit sha that triggered this job.
          with:
            fetch-depth: 2
        - uses: actions/setup-node@v1
          with:
            node-version: '13'
            registry-url: https://registry.npmjs.org/
        - uses: actions/cache@v1
          with:
            path: ./node_modules
            key: ${{github.sha}}-node_modules
        - uses: actions/cache@v1
          with:
            path: ./dist/ng-live-docs
            key: ${{github.sha}}-ng-live-docs
        - id: check-ng-live-docs-tag
          uses: ./.github/actions/check-lib-tag
          with:
            lib-name: 'ng-live-docs'
        - id: check-ng-live-docs-package
          uses: ./.github/actions/check-lib-package
          with:
            lib-name: 'ng-live-docs'
        - name: Publish ng-live-docs@next
          if: steps.check-ng-live-docs-tag.outputs.isLibTag != 'true' && steps.check-ng-live-docs-package.outputs.isLibPackageChanged == 'true' && github.event_name == 'push' && github.ref == 'refs/heads/master'
          run: |
            cd ./dist/ng-live-docs
            npm publish --tag next --access public
          env:
            NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

